.actor__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.actor__preview-description {
  flex-basis: 300px;
  margin: 5px;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
}

.actor__preview-description.dragging {
  border-width: 2px;
  border-style: dashed;
  border-color: #777;
  border-radius: 4px;
  cursor: move;
}