.admin-panel__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
}

.admin-panel__item {
  flex-basis:8%;
}

@media (min-width: 590px) {
  .admin-panel__item.project-view {
    flex-grow: 8;
  }

  .admin-panel__item.actors-list {
    flex-grow: 2;
    background: #ddd;
    min-width: 210px;
  }
}

@media (max-width: 589px) {
  .admin-panel__container {
    flex-direction: column;
  }

  .admin-panel__item.project-view {
    flex-grow: 1;
  }

  .admin-panel__item.actors-list {
    flex-grow: 1;
    background: #ddd;
  }
}
