.libruary-actor__container {

}

.libruary-actor__block-title {
  font: small-caption;
}

.libruary-actor__item {
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.libruary-actor__item_text {
  padding-bottom: 10px;
}

.libruary-actor__item_text.title {
  font-weight: bold;
}

.libruary-actor__item_text.description {

}