@import '../components/bootswatch-scss/custom/_variables';
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";
$icon-font-path: "../components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../components/bootswatch-scss/custom/_bootswatch";

body {
  max-width: $screen-lg;
  margin: 0 auto;
}

.nopadding{
  padding: 0px;
}

.checkbox {
  margin-top: 8px;
  margin-bottom: 25px;
}

fieldset[disabled], .form-group[disabled] {
  display: none;
}

.sortbar {
  .item {
    display: inline-block;
    padding-left: 1.5em;

    span {
      width: 1em;
      &[disabled] {
        opacity: 0;
      }
    }
  }
}

