doctype html
html(lang='ru', ng-app='configApp')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width')
      title= title
      link(rel='stylesheet', href='/build/css/styles.css')
   body
      .container
         block content
         script(src='/components/angular/angular.js')
         script(src='/components/angular-resource/angular-resource.js')
         script(src='/components/angular-route/angular-route.js')
         script(src='/build/js/scripts.js')