doctype html
html(lang='ru')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width')
      title= title
      link(rel='stylesheet', href='/css/styles.css')
   body
      .container
         block content
      if pageScript
         script(data-main='/js/pages/#{pageScript}', src='/components/requirejs/require.js')
         script(src='/js/requirejs_config.js')