form.form-horizontal(name='saveForm')
   fieldset
      .control-group
         .controls
            h3 {{["Добавление","Изменение"][(item.id>0)+0]}} записи
      .control-group(ng-class='{error: saveForm.category.$invalid}')
         label.control-label(for='category') Категория
         .controls
            select(name='category', ng-model='item.category', required='', ng-options='key as value for (key, value) in categories')
      .control-group(ng-class='{error: saveForm.title.$invalid}')
         label.control-label(for='title') Заголовок
         .controls
            input(name='title', ng-model='item.title', required='')
      .control-group(ng-class='{error: saveForm.author.$invalid}')
         label.control-label(for='author') Автор
         .controls
            input(name='author', ng-model='item.author', required='')
      .control-group(ng-class='{error: saveForm.answerer.$invalid}')
         label.control-label(for='answerer') Кому задан
         .controls
            select(name='answerer', ng-model='item.answerer', required='', ng-options='key as value for (key, value) in answerers')
      .control-group(ng-class='{error: saveForm.answerer.$invalid}')
         label.control-label(for='text') Текст
         .controls
            textarea#text(ng-model='item.text', required='')
      .control-group
         label.control-label(for='answer') Ответ
         .controls
            textarea#answer(ng-model='item.answer')
      .form-actions
         input.btn.btn-success(type='button', ng-disabled='saveForm.$invalid||saveForm.$pristine', href='#/list', ng-click='save()', value='Сохранить')
         a.btn(href='#/list') Отмена
